@import 'variables';
@import 'user';
@import 'profile';

html {
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

body {
  height: 100%;
  font-size: 1em;
  color: $text-base-color;
  font-family: Poppins Medium;
}

a {
  text-decoration: none;
  color: $base-label-color;
}

.container {
  padding: 16px 16px;
  width: 100%;
  min-width: 100%;
}

.hidden {
  display: none;
}