@import 'variables';

.header_wrapper {
  img {
    width: 100%;
    height: 298px;
    object-fit: cover;
  }

  margin-bottom: 33px;
}

.label {
  font-size: 11px;
  color: $base-label-color;
  margin-bottom: 4px;
}

.text {
  font-size: 16px;
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 1px solid rgba(158, 158, 158, 1);
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.user_btn {
  font-size: 14px;
  background-color: rgba(255, 230, 0, 1);
  border: none;
  width: 100%;
  text-align: center;
  color: rgba(0, 0, 0, 1);
  padding: 16px 0;
  font-weight: bold;
  margin-top: 50px;
}

.user_links {
  font-size: 11px;
  text-align: right;
}